<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Buscador de Juegos Free Para Todas las Plataformas</span>
    <span class="title"></span>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <span>
      <button class="buttonGeneral" (click)="getAllTasks()">Buscar</button>
      <button class="buttonPC" (click)="getTask()">Juegos PC</button> 
    </span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-card>
  <mat-card-header *ngFor ="let task of Tasks">
    {{ task.title }}
  </mat-card-header>
</mat-card>
